.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
}

.App #search {
  width: 100%;
  height: 2em;
  font-size: 1em;
}

.App .venueList {
  padding: 1rem;
}

.App .venueList .listItem {
  list-style: none;
  font-size: 1em;
  padding: .5em;
  margin-top: .5em;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background: deepskyblue;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2em;
}

 /* .App-header {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}  */
