.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
}

.App #search {
  width: 100%;
  height: 3em;
  font-size: 1.5em;
}

.App .venueList {
  padding: 0 1em 0 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  width: auto;
  height: 620px;
  border: 1px solid black;
  margin: 0;
}

.App .venueList .listItem {
  list-style: none;
  font-size: 1em;
  padding: .5em;
  margin-top: .5em;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background: deepskyblue;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
}

.App .title {
  background-color: gray;
  color: white;
  margin: 0;
  height: 60px;
}

.App .gm-style .gm-style-iw {
  font-weight: 500;
  font-size: 12px
}

@media screen and (max-width: 400px) {
  .App .title {
    font-size: 1.4em;
    height: 100px;
  }
  
  .App #search {
    font-size: 1.2em;
    text-align: center;
  }
  
  .App .venueList .listItem {
    border-radius: 5px;
    width: 80%;
    display: block;
  }

  .App .venueList {
    padding: 0;
    margin-top: 0;
  }
  /* Hides the icon in the listItem */
  .App .venueList .listItem img {
    display: none;
  }

  .App .gmnoprint {
    display: none;
  }

  .App button.gm-control-active.gm-fullscreen-control {
    display: none;
  }

  .App .gm-style .gm-style-iw {
    font-weight: 500;
    font-size: 12px
  }
  
  .App .gm-style img {
    width: 120px;
    background-position-x: center;
  }

  .App h2 {
    font-size: 15px;
  }

} 
